[submodule "LiteEngine/vendor/spdlog"]
	path = LiteEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LiteEngine/vendor/imgui"]
	path = LiteEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
